{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"><h3 class="mb-0">Dashboard</h3></div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a href="{% url "case:case-list" %}">All Cases</a></li>
          <li class="breadcrumb-item active" aria-current="page">Manage Case</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="app-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header border-0">
            <div class="d-flex justify-content-center">
              <h3 class="card-title"><h2>{% if form.instance.pk %}Edit {{form.instance.title|title}}'s details {% else %}Create Case{% endif %}</h3>
            </div>
          </div>
          <div class="card-body">
              <div class="d-flex justify-content-center">
                <form method="post" class="col-lg-12" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <!-- Case Form Fields -->
                    <div class="row">
                        <div class="col-md-6">
                            <div id="div_id_title" class="mb-3">
                                  <label for="id_title" class="form-label requiredField">Title<span class="asteriskField">*</span></label>
                                  {{ form.title }}
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div id="div_id_client" class="mb-3">
                                  <label for="id_client" class="form-label requiredField">Client<span class="asteriskField">*</span></label>
                                  {{ form.client }}
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div id="div_id_client" class="mb-3">
                                <label for="id_client" class="form-label requiredField">Status<span class="asteriskField">*</span></label>
                                {{ form.status }}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div id="div_id_client" class="mb-3">
                                <label for="id_client" class="form-label requiredField">Description<span class="asteriskField">*</span></label>
                                {{ form.description }}
                            </div>
                          </div>
                      </div>
                      
                      <!-- Add other CaseForm fields here (case_type, status, assigned_lawyer, assigned_users, description) -->
              
                      <!-- Document FormSet -->
                      <h3>Upload Documents</h3>
                      {{ document_formset.management_form }}
                      {% for document_form in document_formset %}
                          <div class="document-form">
                              {{ document_form.as_p }}
                          </div>
                      {% endfor %}
              
                      <!-- Submit Button -->
                      <input type="submit" name="submit" value="Save Case" class="btn btn-primary" id="submit-id-submit">
                  </form>
              </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
{% endblock %}