{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"><h3 class="mb-0">Dashboard</h3></div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a href="{% url "case:case-list" %}">All Cases</a></li>
          <li class="breadcrumb-item active" aria-current="page">Manage Case</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="app-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header border-0">
            <div class="d-flex justify-content-center">
              <h3 class="card-title"><h2>{% if form.instance.pk %}Edit {{form.instance.title|title}}'s details {% else %}Create Case{% endif %}</h3>
            </div>
          </div>
          <div class="card-body">
              <div class="d-flex justify-content-center">
                <form method="post" class="col-lg-12" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="row">
                          <div class="col-md-6">
                            <div id="div_id_title" class="mb-3">
                                  {{ form.title|as_crispy_field }}
                            </div>
                          </div>                        
                          <div class="col-md-6">
                              <div id="div_id_client" class="mb-3">
                                  {{ form.client|as_crispy_field }}
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div id="div_id_title" class="mb-3">
                                  {{ form.case_type|as_crispy_field }}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div id="div_id_client" class="mb-3">
                                {{ form.status|as_crispy_field }}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div id="div_id_title" class="mb-3">
                                  {{ form.assigned_lawyer|as_crispy_field }}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div id="div_id_client" class="mb-3">
                                {{ form.assigned_users|as_crispy_field }}
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div id="div_id_client" class="mb-3">
                                {{ form.description|as_crispy_field }}
                            </div>
                          </div>
                          {{ document_formset.management_form }}
                          <h3>Case Documents</h3>
                          {% for document_form in document_formset %}
                              <div class="d-flex col-md-12">
                                  <div class="document-form">
                                      {% crispy document_form %}
                                  </div>
                              </div>
                          {% endfor %}
                          <input type="submit" name="submit" value="Save Case" class="btn btn-primary" id="submit-id-submit">
                      </div>
                    
                </form>
              </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
{% endblock %}