{% extends 'base.html' %} 
{% block content %}
<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"><a href="{% url "dashboard:index" %}">Dashboard</a></div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a href="{% url "case:case-list" %}">All Cases</a></li>
          <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="app-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6 p-5 m-5">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="row d-flex p-2">
                <div class="col-md-6"><strong>Case Number:</strong> {{ object.case_number }}</div>
                <div class="col-md-6"><strong>Title:</strong> {{ object.title|title }}</div>
              </div>
              <div class="row d-flex p-2">
                <div class="col-md-6"><strong>Client:</strong> {{ object.client|title }}</div>
                <div class="col-md-6"><strong>Status:</strong> {{ object.get_status_display }}</div>
              </div>
              <div class="row d-flex p-2">
                <div class="col-md-4"><strong>Assigned Lawyer:</strong><br/> {{ object.assigned_lawyer }}</div>
                <div class="col-md-4"><strong>Support Team:</strong><br/>
                  <ul>
                    {% for user in object.assigned_users.all  %}
                      {% if user.get_full_name %}<li>{{ user.get_full_name }}</li>{% endif %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-md-4"><strong>Case Type:</strong><br/>
                  <ul>
                    {% for type in object.case_type.all  %}
                        <li>{{ type.title|title }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col-md-12 p-2">
                <strong>Description:</strong><br/> {{ object.description|safe }}
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-title">Documents</h5>
              </div>
              <div class="card-body">
                {% if object.documents.all %}
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>File</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for document in object.documents.all %}
                        <tr>
                          <td>{{ document.title }}</td>
                          <td>{{ document.get_document_type_display }}</td>
                          <td>{{ document.description }}</td>
                          <td>
                            <a href="{{ document.file.url }}" target="_blank" class="btn btn-primary btn-sm">View</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <p>No documents found for this case.</p>
                {% endif %}
              </div>
            </div>

            <a href="{% url 'case:case-update' object.slug %}" class="btn btn-warning"
              >Edit</a
            >
            <a href="{% url 'case:case-list' %}" class="btn btn-secondary"
              >Back</a
            >
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
{% endblock %}