{% extends 'base.html' %}
{% block content %}
<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"><h3 class="mb-0">All Cases</h3></div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <a href="{% url "case:case-create" %}"><li class="breadcrumb-item btn btn-success text-white fw-bold">Add a Case</li></a>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="app-content">
  <div class="container-fluid">
    <div class="row justify-content-center w-100">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
              <table id="tbl-case-list" class="table table-bordered table-striped dataTable dtr-inline w-100" aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending">
                            Case Number
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Title: activate to sort column ascending">Title</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Client: activate to sort column ascending">Client</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Case Type: activate to sort column ascending">Type</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Case Type: activate to sort column ascending">Status</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Assigned Lawyer: activate to sort column ascending">Assigned Lawyer</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Assigned user: activate to sort column ascending">Assigned user</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in cases %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td class="dtr-control sorting_1" tabindex="0">{{ case.case_number|title }}</td>
                        <td>{{ case.title|title }}</td>
                        <td>{{ case.client.user.get_full_name|title }}</td>
                        <td>
                          <ul>
                            {% for type in case.case_type.all %}
                              <li>{{ type.title|title }}</li>
                            {% endfor %}
                          </ul>
                        </td>
                        <td>{{ case.get_status_display }}</td>
                        <td>{{ case.assigned_lawyer.get_full_name|default:"Not Assigned" }}</td>
                        <td>
                            <ul>
                              {% for user in case.assigned_users.all %}
                                  {% if user.get_full_name %}<li>{{ user.get_full_name }}</li>{% endif %}
                              {% endfor %}
                            </ul>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'case:case-update' case.slug %}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{% url 'case:case-delete' case.slug %}" class="btn btn-sm btn-danger">Delete</a>
                            <a href="{% url 'case:case-detail' case.slug %}" class="btn btn-sm btn-info">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th rowspan="1" colspan="1">Case Number</th>
                        <th rowspan="1" colspan="1">Title</th>
                        <th rowspan="1" colspan="1">Client</th>
                        <th rowspan="1" colspan="1">Type</th>
                        <th rowspan="1" colspan="1">Status</th>
                        <th rowspan="1" colspan="1">Assigned Lawyer</th>
                        <th rowspan="1" colspan="1">Assigned user</th>
                        <th rowspan="1" colspan="1">Action</th>
                    </tr>
                </tfoot>
              </table>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('#tbl-case-list').DataTable({
        "pageLength": 10,
        "ordering": true,
        "searching": true,
        "responsive": true
    });
});
</script>
{% endblock extra_js %}